body {
	background-color: lightgreen;
	text-align: center;
}


#guesses {
	margin: 20px;
}

.incorrect{
	background-color: red;
	height: 100px;
	width: 100px;
	font-size: 110%;
	text-align: center;
	margin: auto;
	padding: 10px;
	
}

.correct {
	background-color: green;
	height: 100px;
	width: 100px;
	font-size: 110%;
	text-align: center;
	padding: 10px;
	margin: auto;
}

a {
	background-color: silver;
	border-right: 2px solid black;
	border-bot: 2px solid black;
	text-decoration: none;
	color: black;
	padding: 10px;
	margin: 40px;
	border-radius: 5px;
}
